.admin-home {
  padding: 20px;
  h1 {
    margin-bottom: 10px;
    color: #555;
  }
  &__user-card {
    display: flex;
    align-items: center;
    border: 2px solid #2e8639;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    &__image {
      flex-shrink: 0;
      margin-right: 1rem;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #2e8639;
      }
    }

    &__info {
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;
      &__name {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 8px;
        color: #2e8639;
      }

      &__username {
        font-size: 1rem;
        color: #555;
        margin-bottom: 8px;
      }

      &__created {
        font-size: 0.9rem;
        color: #777;
      }
    }
  }
}
