.spinach {
  &__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaf1eb;
    border-radius: 10px;
    margin-top: 40px;
  }

  &__hero__left {
    width: 50%;
    h1 {
      font-family: Lexend;
      font-size: 48px;
      font-weight: 600;
      letter-spacing: -0.05em;
      text-align: left;
      color: #1f2533;
      padding: 0px 10px;
    }
  }

  @media (max-width: 960px) {
    &__hero__left {
      width: 50%;
      h1 {
        font-family: Lexend;
        font-size: 38px;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: left;
        color: #1f2533;
      }
    }
  }

  @media (max-width: 960px) {
    &__hero__left {
      width: 60%;
      h1 {
        font-family: Lexend;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: left;
        color: #1f2533;
      }
    }
  }

  @media (max-width: 560px) {
    &__hero__left {
      width: 100%;
      h1 {
        text-align: center;
      }
    }
    &__hero {
      flex-direction: column;
    }

    &__hero__right {
      img {
        width: 100%;
      }
    }
  }

  &__hero__info {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 20px;
    padding: 30px 0px;
  }

  &__hero__info__left {
    p {
      //styleName: Light 16;
      font-family: Lexend;
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      text-align: left;
      color: #1f2533;
    }

    h3 {
      //styleName: H1 mobile;
      font-family: Lexend;
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: -0.05em;
      text-align: left;
      color: #1f2533;
      padding: 10px 0px;
    }
  }
  &__hero__img {
    padding: 20px 0px;
    img {
      width: 100%;
    }
  }

  &__hero__card {
    border-radius: 10px;
  }

  &__hero__info__right {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__hero__card__info {
    padding: 10px;
    span {
      //styleName: Regular 14;
      font-family: Lexend;
      font-size: 14px;
      font-weight: 400;
      line-height: 24.95px;
      text-align: left;
      color: #70737c;
    }

    h3 {
      //styleName: H3;
      font-family: Lexend;
      font-size: 24px;
      font-weight: 600;
      line-height: 31.5px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #1f2533;
    }
    p {
      //styleName: Regular 14;
      font-family: Lexend;
      font-size: 14px;
      font-weight: 400;
      line-height: 24.95px;
      text-align: left;
      color: #70737c;
    }

    button {
      padding: 8px 20px;
      background-color: white;
      color: green;
      border: 1px solid transparent;
      border-radius: 5px;
    }
  }

  &__hero__card__img {
    img {
      width: 100%;
    }
  }

  @media (max-width: 830px) {
    &__hero__info {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 30px 0px;
    }
    &__hero__info__right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
  @media (max-width: 830px) {
    &__hero__info {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 30px 0px;
    }
    &__hero__info__right {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    &__hero__info__left {
      p {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
}
