.footer {
    padding: 20px 0;

    &__top {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__item {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.035em;
    }

    &__item:first-child {
        color: #359740;
    }

    &__item__about {
        border-left: 1px solid #359740;
        border-right: 1px solid #359740;
    }

    &__item__priv {
        border-left: 1px solid #359740;
    }

    &__logo {
        width: 125px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__bottom {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #359740;
        font-size: 20px;
    }

    @media (max-width:910px) {
        &__logo {
            display: none;
        }
    }
}