.chekout {
  min-height:calc(100vh - 200px);
  &__left {
    display: none;
    margin-top: 30px;
  }

  &__left__card {
    display: grid;
    grid-template-columns: 1fr 340px;
    grid-gap: 30px;
    align-items: flex-start;
    padding: 30px 0px;
  }

  &__left__show {
    display: block;
  }
  &__left__info {
    label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: gray;
      font-size: 16px;
    }
    input {
      padding: 15px;
      outline: none;
      border: 1px solid #aaa5;
      border-radius: 5px;
    }
  }
  &__left__info-top {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__left__title {
    font-size: 36px;
    display: flex;
    align-items: center;
  }

  &__left__info__title {
    padding: 10px 0px 20px;
    font-family: Lexend;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.5px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  &__left__info-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__left__info-btn {
    padding: 10px 30px;
    background-color: #359740;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
  }

  &__left__count {
    box-shadow: 1px 1px 10px #aaa5;
    border-radius: 10px;
    padding: 20px;

    h3 {
      font-family: Lexend;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: -0.04em;
      text-align: left;
    }

    p {
      //styleName: Regular 14;
      font-family: Lexend;
      font-size: 14px;
      font-weight: 400;
      line-height: 24.95px;
      text-align: left;
      color: #70737c;
    }
  }

  &__left__count__title-price {
    border-bottom: 1px solid #aaa5;
    padding: 5px 0px;
  }

  &__left__count__total {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0px;
  }

  @media (max-width: 850px) {
    &__left__card {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  }

  @media (max-width: 450px) {
    &__left__info-top {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    &__left__info-admin {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }

    h2 {
      padding: 5px;
    }
  }

  &__right {
    margin: 0 auto;
    width: 400px;
    display: none;
    margin-top: 30px;
    input {
      padding: 12px;
      width: 100%;
      border: 1px solid #aaa5;
      outline: none;
      border-radius: 8px;
    }
    p {
      color: gray;
      padding: 5px 0px;
    }
  }

  &__show {
    display: block;
  }

  &__right__title {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0px;
    cursor: pointer;
  }

  &__right__card-img {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
    img {
      width: 100%;
    }
  }

  &__right__date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px 0px;
    label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: gray;
    }
  }

  &__right__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__right__btn {
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #359740;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 20px;
    p {
      color: white;
    }
  }

  @media (max-width: 450px) {
    &__right {
      width: 300px;
    }
  }
  @media (max-width: 350px) {
    &__right {
      width: 250px;
    }
    &__right__card-img {
      width: 50px;
      img {
        width: 100%;
      }
    }
  }
}
